[submodule "tools/asm-processor"]
	path = tools/asm-processor
	url = https://github.com/simonlindholm/asm-processor.git
[submodule "tools/asm-differ"]
	path = tools/asm-differ
	url = https://github.com/simonlindholm/asm-differ.git
