# Cache files
__pycache__/
.pyc
.DS_Store

# Text editor remnants
.vscode/
.vs/
.idea/
CMakeLists.txt
cmake-build-debug
venv/

# Project-specific ignores
*.z64
*.bin
*.elf
archive/
build/
baserom/
decomp/
asm/
expected/
nonmatchings/

# Tool artifacts
tools/ido5.3_compiler/
tools/ido7.1_compiler/
tools/qemu-mips
tools/ido_recomp/* binary
ctx.c
graphs/

# Assets
*.png
*.jpg
!*_custom*

# Per-user configuration
.python-version
