# setup
colorama>=0.4.3
crunch64>=0.3.1,<1.0.0
ipl3checksum>=1.2.0,<2.0.0
pyyaml>=6.0.1,<7.0.0

# disasm
rabbitizer>=1.3.0,<2.0.0

# yars
pyelftools>=0.26

# diff
watchdog>=0.10.2
argcomplete
Levenshtein
cxxfilt

# permuter
pycparser
toml

# map parsing
mapfile-parser>=2.3.5,<3.0.0
